label {

}

textarea, input[type="text"], input[type="email"], input[type="phone"] {
	color:red;
	display: block;
	margin-bottom:20px;
}


.ng-dirty:focus {
	border-width: 1px #ccc solid !important;
}

.ng-dirty.ng-valid {
	border-color:green;
}
.ng-dirty.ng-invalid {
	border-color:red;
}

